/*
	index.css
*/
html {
    height: 100%;
}

body {
    height: 100%;
    padding: 5%; 
    background-image: url("../img/conor.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#border{
    text-align: center;
    padding: 2%;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 20px;
}

#title-space{
    padding: 5%;
}

#selection {
    visibility: visible;
}

#student-btn, #ta-btn {
    border-radius: 10px;
    width: 200px;
    height: inherit;
    padding: 10px;
    font-family: sans-serif;
    background-color: skyblue;
}

#ta-form, #student-form, #ta-register {
    background-color: lightblue;
    visibility: hidden;
    display: none;
}

#cancel {
    visibility: hidden;
    display: none;
}

.form-style {
    border-radius: 10px;
    padding: 2%;
}

