/*
	session.css
	November 27th, 2017
    
    Styling for session.php
*/

/* ==== TAG STYLES ==== */
html {
    height: 100%;
}

body {
    height: 100%;
    padding: 5%; 
    background-image: url("../img/conor.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* ==== SPACING ==== */
#border {
    padding: 5%;
}

/* ==== SESSION CREATION ==== */ 

#title-label{
	padding: 5%;
}

#lab-creation{
    border-radius: 20px;
    padding: 5%;
    background-color: whitesmoke;
}
