/*
	app.css
	October 31st, 2017
*/
#qa {
    text-align: center;
}

#announce {
    text-align: center;
}

body {
    font-size: 18px;
}

.global {
    padding: 1%;
}

#announce-btn {
    display: none;
}

.forum-area {
    height: 40vh;
    overflow: scroll;
}

@media only screen and (max-width: 999px) {

    #announce { display: none; }
    #announce-btn { display: block; }
}

@media only screen and (min-width: 1000px) {
    #announce { display: block !important; }
    #qa { 
        display: block !important; 
        border-right: 1px solid #000;
    }
}

/* ==== TESTING STYLE === */
#qID, #squest {
    display: none;
}

#ta-answer {
    height: inherit;
    resize: vertical;
    width: 100%;
}

.unanswered {
    background-color: lightgreen !important;
}

.answer {
    padding-left: 10%;
}
