/*
	app.css
	October 31st, 2017
*/

/*=== General Elements ===*/
p {
	font-size: 24px;
}

/*=== App Navigation Bar ===*/
#lab-label {
	font-size: 24px;
}

/*=== Questions Answers & Announcements ===*/
#forum {
	width: 100%;
 	background-color: lightgray;
}

/*=== Input Questions & Announcements ===*/
#query-input {
	width: 85%;
	height: 40px;
	font-size: 18px;
}

#send {
	width: 10%;
	height: 40px;
}
