/*
	index.css
	October 31st, 2017
*/


/*=== Site Padding ===*/
#border{
    text-align: center;
    padding: 5%;   
}

/*=== Title & Introduction ===*/

#title-space{
    padding: 5%;
}

#title{
    font-size: 24px;
}

/*=== Button Selection ===*/
#select-space {
    visibility: visible;
}

#student-btn, #ta-btn {
    width: 200px;
    height: 50px;
    font-family: sans-serif;
    background-color: skyblue;
}

/*=== Form Input ===*/
#ta-form, #student-form, #ta-register {
    background-color: lightblue;
    visibility: hidden;
    display: none;
}

#cancel {
    visibility: hidden;
    display: none;
}

